<!DOCTYPE html>

<html>
    <Head>
        <title>About</title>
        <link rel="icon" href="/img/logo.png">
        <link rel="stylesheet" href="css/styles.css">
    </Head>

    <body>
    <div class="main-content">
        {{>header}}
        <img src="/img/img1.jpg">
    </div>

    {{>footer}}
    </body>
</html>